# Python
backend/venv/
backend/.venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
backend/.env

# Frontend / React
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Editors / OS
.DS_Store
Thumbs.db
.idea/
.project
.pydevproject
