# Server Configuration
PORT=8000
HOST=127.0.0.1
ENVIRONMENT=development

OPENAI_API_KEY=your-openai-api-key

DATABASE_URL=postgresql://postgres.skvhgswbsmuaaymogdto:your-database-password@aws-1-us-east-2.pooler.supabase.com:5432/postgres

FIREBASE_PROJECT_ID=your-firebase-project-id
